@model Book_store.Domain.Models.Publisher


<div class="m-3 d-flex justify-content-between align-items-center">
    <h1 class="mb-0">Publisher - @Model.Name</h1>
</div>

<div class="m-3 container">
<h2>Books</h2>

     @for(int j = 0; j < Model.Books.ToList().Count; j++)
    {
     var book = Model.Books.ToList()[j];
    if (j % 3 == 0)
    {
    @:<div class="row">
    }
     <div class="col-3 m-4">
         <div class="card" style="width: 18rem; height: 35rem">
             <img class="card-img-top" src="@book.BookImage" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">@book.Title</h5>
                 <p class="card-text">Rating: @book.Rating</p>
                 <h6>Price: @book.Price ден.</h6>
             </div>
         </div>
     </div>

     if (j % 3 == 2)
     {
        @:</div>
     }
 }
</div>
