@model List<Book_store.Domain.Models.Publisher>

<div class="m-3 d-flex justify-content-between align-items-center">
    <h1 class="mb-0">Publishers</h1>
    <a class="btn btn-success" asp-controller="Publisher" asp-action="Create">Add new publisher</a>
</div>

<div class="container">

     @for(int j = 0; j < Model.Count; j++)
    {
     var publisher = Model[j];
    if (j % 3 == 0)
    {
    @:<div class="row">
    }
     <div class="col-3 m-4">
         <div class="card" style="width: 18rem; height: 35rem">
             <img class="card-img-top" src="@publisher.PublisherImage" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">@publisher.Name</h5>
                 <p class="card-text">@publisher.Description</p>
             </div>
             <div class="card-footer">
            <a asp-controller="Publisher" asp-action="Details" asp-route-id="@publisher.Id" class="btn btn-info">Details</a>
            <a asp-controller="Publisher" asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-warning">Edit</a>
             </div>
         </div>
     </div>

     if (j % 3 == 2)
     {
        @:</div>
     }
 }
</div>

