@model List<Book_store.Domain.Models.Author>

<div class="m-3 d-flex justify-content-between align-items-center">
    <h1 class="mb-0">Authors</h1>
    <a class="btn btn-success" asp-controller="Author" asp-action="Create">Add new author</a>
</div>

<div class="container">

    @for(int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        if (i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">
            <div class="card" style="width: 18rem; height: 35rem">
                <div class="card-body">
                    <h5 class="card-title">@item.Name @item.Surname</h5>
                     <p class="card-text">
                         Age: @item.Age <br />
                         From:@item.Origin
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Author" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-controller="Author" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-controller="Author" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                </div>
            </div>
        </div>

        if (i % 3 == 2)
        {
            @:</div>
        }
    }
</div>
